* {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(245, 96, 64) 50%, rgba(252, 175, 69) 100%);
}

#game-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

button {
    height: 65px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    margin-bottom: 40px;
    font-weight: bold;
    border: 3px solid black;
    border-radius: 7%;
}

button:hover {
    cursor: pointer;
}

#game-grid {
    height: 500px;
    width: 500px;
    margin: auto;
    display: grid;
    justify-content: center;
}

.grid-square {
    border: 1px solid black;
    background: white;
    transition: background-color 500ms;
}

.grid-square:hover {
    cursor: pointer;
}